flows.json
[
    {
        "id": "4cbf5a5cff9595ac",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3003971750ca8851",
        "type": "ui_gauge",
        "z": "4cbf5a5cff9595ac",
        "name": "",
        "group": "2c674a14f6b42f10",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "0b01e0623341e150",
        "type": "ui_gauge",
        "z": "4cbf5a5cff9595ac",
        "name": "",
        "group": "2c674a14f6b42f10",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity Gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 320,
        "wires": []
    },
    {
        "id": "9b28744999278abd",
        "type": "ui_chart",
        "z": "4cbf5a5cff9595ac",
        "name": "",
        "group": "2c674a14f6b42f10",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "0588ba288ab5db0f",
        "type": "ui_chart",
        "z": "4cbf5a5cff9595ac",
        "name": "",
        "group": "2c674a14f6b42f10",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "c07e2fdfce345b86",
        "type": "ui_button",
        "z": "4cbf5a5cff9595ac",
        "name": "",
        "group": "2c674a14f6b42f10",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Temperature Logs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 790,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "486251a3c7205b1c",
        "type": "ui_button",
        "z": "4cbf5a5cff9595ac",
        "name": "",
        "group": "2c674a14f6b42f10",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Humidity Logs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 800,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "140d0dca182d37c0",
        "type": "ui_switch",
        "z": "4cbf5a5cff9595ac",
        "name": "",
        "label": "LED",
        "tooltip": "",
        "group": "2c674a14f6b42f10",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 700,
        "wires": [
            [
                "01dee15f3af96435"
            ]
        ]
    },
    {
        "id": "ea84b4dc6e0190df",
        "type": "ui_slider",
        "z": "4cbf5a5cff9595ac",
        "name": "",
        "label": "Servo",
        "tooltip": "",
        "group": "2c674a14f6b42f10",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 770,
        "y": 760,
        "wires": [
            [
                "a5d24304fe5fb779"
            ]
        ]
    },
    {
        "id": "fe91fa28700bb14a",
        "type": "ui_colour_picker",
        "z": "4cbf5a5cff9595ac",
        "name": "",
        "label": "NeoPixel Color Picker",
        "group": "2c674a14f6b42f10",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 800,
        "y": 840,
        "wires": [
            [
                "81677a9f1092d623"
            ]
        ]
    },
    {
        "id": "01dee15f3af96435",
        "type": "mqtt out",
        "z": "4cbf5a5cff9595ac",
        "name": "",
        "topic": "lights",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "16e32849ed720899",
        "x": 990,
        "y": 700,
        "wires": []
    },
    {
        "id": "a5d24304fe5fb779",
        "type": "mqtt out",
        "z": "4cbf5a5cff9595ac",
        "name": "",
        "topic": "servo",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "16e32849ed720899",
        "x": 990,
        "y": 760,
        "wires": []
    },
    {
        "id": "8469d4208e25008e",
        "type": "mqtt out",
        "z": "4cbf5a5cff9595ac",
        "name": "",
        "topic": "lights/neopixel",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "16e32849ed720899",
        "x": 1240,
        "y": 840,
        "wires": []
    },
    {
        "id": "81677a9f1092d623",
        "type": "function",
        "z": "4cbf5a5cff9595ac",
        "name": "Parse RGB values",
        "func": "msg.payload = msg.payload.replace(\"rgb(\", \"\").replace(\")\", \"\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 840,
        "wires": [
            [
                "8469d4208e25008e"
            ]
        ]
    },
    {
        "id": "7e6ddc728250cc0b",
        "type": "mqtt in",
        "z": "4cbf5a5cff9595ac",
        "name": "",
        "topic": "Tempdata",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "16e32849ed720899",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "2e3f4611193a2cda",
                "ec28c037a5e67933",
                "19de986f89a20e89"
            ]
        ]
    },
    {
        "id": "2e3f4611193a2cda",
        "type": "function",
        "z": "4cbf5a5cff9595ac",
        "name": "Extract temperature",
        "func": "var input = msg.payload;\n//remove any  leading whitespace\ninput = input.trim();\nvar values = input.split(',');\nvalues = values.map(function(value) {\n    return parseFloat(value.trim());\n});\nmsg.payload = values[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 200,
        "wires": [
            [
                "3003971750ca8851",
                "9b28744999278abd"
            ]
        ]
    },
    {
        "id": "ec28c037a5e67933",
        "type": "function",
        "z": "4cbf5a5cff9595ac",
        "name": "Extract Humidity",
        "func": "var input = msg.payload;\n//remove any  leading whitespace\ninput = input.trim();\nvar values = input.split(',');\nvalues = values.map(function(value) {\n    return parseFloat(value.trim());\n});\nmsg.payload = values[1];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 340,
        "wires": [
            [
                "0b01e0623341e150",
                "0588ba288ab5db0f"
            ]
        ]
    },
    {
        "id": "904475c1e66a812f",
        "type": "file",
        "z": "4cbf5a5cff9595ac",
        "name": "",
        "filename": "C:\\Users\\Yassine Chahed\\Downloads\\csv file/fliedatalog.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 960,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "19de986f89a20e89",
        "type": "function",
        "z": "4cbf5a5cff9595ac",
        "name": "Add timestamp",
        "func": "var timestamp = new Date().toISOString();\nvar value = msg.payload;\nmsg.payload = timestamp + ', '+ value;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 80,
        "wires": [
            [
                "904475c1e66a812f"
            ]
        ]
    },
    {
        "id": "2c674a14f6b42f10",
        "type": "ui_group",
        "name": "Our Dashboard",
        "tab": "ee021afd9503d45a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "16e32849ed720899",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com:1883",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ee021afd9503d45a",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
